/Contractor.class
/HouseCommittee$options.class
/HouseCommittee.class
/Person.class
/TCPClient_with_serialized$Mode.class
/TCPClient_with_serialized$Operation.class
/TCPClient_with_serialized.class
/Tenant.class
